<% ['coupe', 'platz'].each do |type| %>
  <% current_van_type = "#{ type == 'coupe' ? 'Купейных' : 'Плацкартных' }" %>
  <% unless @train.send("#{type}_vans").count.zero? %>
    <p>
    <strong><%= current_van_type %> вагонов в составе поезда: </strong><%= @train.send("#{type}_vans").count %><br />
    <%= current_van_type %> мест:
    <ul>
      <li>Верхних: <%= @train.seats(type, 'up') %></li>
      <li>Нижних: <%= @train.seats(type, 'down') %></li>
    </ul>
    </p>
  <% end %>
<% end %>
