<p id="notice"><%= notice %></p>

<p>
  <strong>Поезд номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Вагоны поезда:</strong>
  <% if @train.vans.empty? %>
    К поезду не присоединены вагоны
  <% else %>
    <br />
    Плацкартных: <%= Van.where(kind: 'Плацкарт').count %><br />
    Купейных: <%= Van.where(kind: 'Купе').count %><br />
    Плацкартных мест:
    <ul>
      <li>Верхних: <%= @all = 0; Van.where(kind: 'Плацкарт').each{ |van| @all += van.up_seats }; @all %></li>
      <li>Нижних: <%= @all = 0; Van.where(kind: 'Плацкарт').each{ |van| @all += van.down_seats }; @all %></li>
    </ul>
    Купейных мест:
    <ul>
      <li>Верхних: <%= @all = 0; Van.where(kind: 'Купе').each{ |van| @all += van.up_seats }; @all %></li>
      <li>Нижних: <%= @all = 0; Van.where(kind: 'Купе').each{ |van| @all += van.down_seats }; @all %></li>
    </ul>
  <% end %>
</p>

<p>
  <strong>Текущий маршрут:</strong>
  <% if @train.route %>
    <%= @train.route.title %>
  <% else %>
    Нет назначенного маршрута
  <% end %>
  <br />
  <strong>Текущая станция:</strong>
  <% if @train.current_station %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
