<!DOCTYPE html>
<html>
  <head>
    <title>Ttd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Список станций', railway_stations_path, class: "btn btn-large btn-primary" %>
    <%= link_to 'Список поездов', trains_path, class: "btn btn-large btn-primary" %>
    <%= link_to 'Список маршрутов', routes_path, class: "btn btn-large btn-primary" %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
