<!DOCTYPE html>
<html>
  <head>
    <title>Ttd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>
        &#169 2017 Ефимов Николай.</br>
        Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com' %>
      </p>
    </footer>
  </body>
</html>
